
:root {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-size: 14px;

  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align:center;
}

html, body {
  background: rgb(255, 233, 245);
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

a {
  font-weight: 500;
  color: rgb(255, 47, 157);
  text-decoration: inherit;
}
a:hover {
  color: rgb(255, 103, 184);
}

h1 {
  font-size: 3em;
  line-height: 1.1;
  color: black;
  text-align: center;

}

h2 {
  color: black;
  margin: 0;
}

h3 {
  color: black;
  /* -webkit-text-stroke: powderblue;
  -webkit-text-stroke-width: 0.5px; */
}

h6 {
  color:black;
  text-align: center;
}

p {
  color:black;
}

button {
  /* display: inline-block; */
  padding: 10px 20px;
  font-size: 1rem;
  color: black;
  background: rgb(255, 189, 234);
  /* linear-gradient(45deg, rgb(255, 200, 229), rgb(255, 229, 253)) */
  border-radius: 25px;
  border: none;
  box-sizing: border-box; /* Include padding in element dimensions */
  transition: all 0.3s ease;
  position: relative; 
}

button:hover {
  background: none;
  color: black;
  outline: 2px solid rgb(255, 189, 234);
  outline-offset: -2px;
}

/* button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
} */

form {
  color:powderblue;
  text-align: left;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

/* Professional Website Layout:
- rows, each with distinct background color (white/gray/background image/website primary color scheme)
- padding for each row 50-80px
-  */