# Logs
# logs
# *.log
# npm-debug.log*
# yarn-debug.log*
# yarn-error.log*
# pnpm-debug.log*
# lerna-debug.log*

*.env

node_modules/
# dist
# dist-ssr
# *.local

# Editor directories and files
# .vscode/*
# !.vscode/extensions.json
# .idea
# .DS_Store
# *.suo
# *.ntvs*
# *.njsproj
# *.sln
# *.sw?

#HOW TO GIT
# 1. Ensure you're on correct branch
# 2. git pull origin main (Update your branch with latest changes from main)
# 3. git add .
# 4. git commit -m "Your commit message"
# 5. git push origin <your-branch>
# 6. Create pull request on GitHub, review, submit, (approve)
# 7. Merge pull request into main on GitHub
# 8. git checkout main (Switch to main branch)
# 9. git pull origin main (Pull latest changes form the main)
# 10. Optional: delete your feature branch

#log into mysql: 
#1. navigate to folder
#2. mysql -u root -p
#3. enter pw
#4. USE user_auth;

#clear mysql query: \c

# CREATE TABLE map_markers (
#     -> id INT AUTO_INCREMENT PRIMARY KEY,
#     -> username VARCHAR(255) NOT NULL,
#     -> lat DECIMAL (10, 6) NOT NULL,
#     -> lng DECIMAL(10, 6) NOT NULL,
#     -> name TEXT,
#     -> created_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP,
#     -> INDEX username_index (username)
#     -> );

#mysql> CREATE TABLE trips (
#    -> id INT AUTO_INCREMENT PRIMARY KEY,
#    -> username VARCHAR(255) NOT NULL,
#    -> name VARCHAR(255) NOT NULL,
#    -> description TEXT,
#    -> start DATETIME NOT NULL,
#    -> end DATETIME NOT NULL,
#    -> created_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP,
#    -> updated_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
#    -> INDEX username_index (username)
#    -> );

#mysql> ALTER TABLE trips
#    -> ADD UNIQUE INDEX uk_username_name (username, name);