.dashboard-page-container {
    background-color: rgb(255, 200, 229);
    width: 100%;
    min-height: 100vh;

    display: flex;
    justify-content: center;
    text-align: center;
}

.dashboard-container.menu-visible.main-content {
    margin-left: 200px; /* Give space for side menu */
}

.dashboard-content {
    margin: 100px 0px;
    width: 100%;
    max-width: 1200px;
    padding: 0px 100px;
}

.dashboard-content h1{
    text-align: center;
    margin: 50px 0px;
}

.dashboard-content h2{
    text-align: left;
    font-size: 2.5rem;
    font-weight: bold;
    margin: 50px 0px;
}

.dashboard-content h3{
    color: black;
    text-align: left;
    font-size: 2rem;
    margin: 50px 0px;
}

trips-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
    gap: 20px;
    padding: 16px 0;
}

/* Card styling */
.trip-card {
border-radius: 8px;
overflow: hidden;
box-shadow: 0 2px 8px rgba(0,0,0,0.1);
transition: transform 0.2s;
}

.trip-card:hover {
transform: translateY(-4px);
}

@media (max-width: 768px) {
    .trips-grid {
        grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
    }
}

@media (max-width: 480px) {
    .trips-grid {
        grid-template-columns: 1fr;
    }
}

.tools-grid {
    display: grid;
    grid-template-columns: repeat(3, minmax(250px, 1fr)); /* Responsive columns */
    gap: 30px; /* Space between items */
    padding: 0px; /* Padding around the grid */
}

.tools-item {
    padding: 20px 30px;
    border: 1px solid #ddd;
    border-radius: 15px;
    overflow: hidden; /* Ensure content stays within the box */
    text-align: center;
    background: #fff; /* Background color */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.tools-item img {
    width: 100%;
    object-fit: cover; /* Ensure images cover the area without distortion */
}

.tools-item h3 {
    text-align: center;
    margin: 15px 0 10px;
    font-size: 1.2em;
}

.tools-item p {
    margin: 0 0 15px;
    font-size: 1.1em;
    color: #333;
}

.tools-item:hover {
    transform: translateY(-5px); /* Lift the item on hover */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); /* Enhance shadow on hover */
}

@media (max-width: 1200px) {
    .tools-grid {
        grid-template-columns: repeat(3, minmax(250px, 1fr));
    }
}

@media (max-width: 800px) {
    .tools-grid {
        grid-template-columns: repeat(2, minmax(250px, 1fr));
    }
}

@media (max-width: 500px) {
    .tools-grid {
        grid-template-columns: repeat(1, minmax(150px, 1fr));
    }
}

.go-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    width: 100%;
    margin-bottom: 20px;
}

.progress-container {
    margin: 20px 0px;
    height: 10px;
    border: none;
    border-radius: 10px;
    width: 100%;
    background: rgb(185, 185, 185);
}