.dashboard-container {
    display: flex;
    width: 100%;
    position: relative; /* Position the side menu over content without shifting */
}

.dashboard-container.menu-visible.main-content {
    margin-left: 200px; /* Give space for side menu */
}

.main-content {
    flex: 1; /* Take up available space */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    margin-left: 0; /* Defeult centered content */
    padding: 20px;
    flex-grow: 1;
    height: auto;
}

.show-menu-btn {
    position: fixed;
    top: 10px;
    left: 10px;
    cursor: pointer;
    z-index: 1000; /* Ensure the button is above other content */
}

.side-menu {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    transition: transform 0.3s ease;
    width: 200px; /* fixed width of menu */
    padding: 20px;
    position: fixed;
    top: 0;
    left: -250px;
    bottom: 0;
    background-color: #333;
    color: white;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    z-index: 999; /* Ensure menu stays above content */
}

.side-menu.visible {
    transform: translateX(250px); /* Slide menu into view */
}

.side-menu h3 {
    margin: 0;
    padding-bottom: 10px;
    border-bottom: 1px solid #555;
}

.side-menu ul {
    list-style-type: none;
    padding: 0;
}

.side-menu li {
    margin: 20px 0;
}

.side-menu ul li {
    margin: 10px 0;
}

.side-menu a {
    color: white;
    text-decoration: none;
    font-size: 16px;
    transition: color 0.3s ease;
}

.side-menu a:hover {
    color: #1abc9c;
}
