body {
    margin: 20px;
}

.budget-container {
    /* grid-template-columns: 1fr; */
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

@media (min-width: 600px) {
    .budget-container {
        display: block;
    }
}

/* .select-dropdown {
    color: black;
    background-color: white;
} */

.category-row td {
    font-weight: bold;
    background-color: #e1f4ff;
    text-align: left;
    padding: 10px;
}

.entry-table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    font-size: 16px;
    text-align: left;
    color: black;
}

.entry-table th {
    border: 1px solid black;
    padding: 8px;
    background-color: white;
}
.entry-table td {
    border: 1px solid black;
    padding: 8px;
}

.entry-title {
    font-weight: bold; /* Make the title stand out */
    display: block; /* Ensure it stays on its own line */
}

.entry-description {
    font-size: 0.9em; /* Slightly smaller font for the description */
    color: #555; /* Different color for contrast */
    display: block; /* Ensure it stays on its own line */
    margin-top: 5px; /* Add spacing below the title */
}

.entry-table tr:hover {
    background-color: rgb(255, 223, 253); /* Optional: Highlight row on hover */
}

/* .entries-category {
    margin-bottom: 20px;
}

.entries-category h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
    color: #333;
} */

/* .entries-grid {
    display: grid;
    grid-template-columns: repeat(
        auto-fill,
        minmax(250px, 1fr)
    );
    grid-auto-rows: minmax(250px, auto);
    gap: 20px;
    width: 100%;
} */

/* .entry-item {
    display: flex;
    flex-direction: column;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
    background-color: #f9f9f9;
    cursor: pointer;
    text-align: left;
}

.entry-item p {
    margin: 0;
    color: grey;
    size: 12px;
}

.entry-header {
    display: flex;
    justify-content: space-between; Pushes title to the left and amount to the right
    align-items: center;
    margin: 0;
}

.entry-header h3 {
    margin: 0;
}

.entry-right button {
    font-size: 16px;
    background: transparent;
    border: none;
    cursor: pointer;
    max-width: fit-content;
}

.entry-right {
    display: flex;
    justify-content: flex-end;
} */

textarea, input {
    border-radius: 5px;
    border: 1px solid black;
    padding: 10px;
    font-size: 16px;
}

.budget-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.budget-form button {
    border-radius: 5px;
    background-color: rgb(64, 154, 184);
    border: none;
    padding: 10px;
    font-size: 16px;
    color: black;
}

.budget-form button:hover {
    background-color: rgb(106, 175, 198);
    cursor: pointer;
}

/* .edit-buttons {
    display: flex;
    justify-content: space-evenly;
    gap: 5px;
}

.edit-buttons button {
    flex: 1;
}

.edit-buttons button:last-of-type {
    background-color: rgb(220, 89, 89);
    color: black;
} */