.budget-page-container {
    background-color: rgb(255, 200, 229);
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    text-align: center;
}

.budget-content {
    display: flex;
    flex-direction: column;
    margin: 100px 0px;
    width: 100%;
    max-width: 1200px;
    box-sizing: border-box;
    padding: 20px;
}

.budget-form {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px 0px;
}

.budget-form input {
    font-size: 16px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    height: 45px;
    width: 100%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
}/* 
.budget-form input:focus {
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
} */
.budget-form textarea {
    font-size: 16px;
    padding: 10px 20px;
    width: 100%;
    border-radius: 5px;
    box-sizing: border-box;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}
.select-dropdown {
    color: black;
    background-color: white;
}

.budget-form select {
    padding-left: 20px;
    border: none;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    outline: none;
}

.budget-progress-container {
    margin-top: 20px;
    text-align: left;
    font-weight: bold;
}

.budget-progress-bar {
    background-color: #f0f0f0;
    border-radius: 20px;
    overflow: hidden;
    height: 20px;
    width: 100%;
    margin-top: 5px;
    box-shadow: inset 0 1px 3px rgba(0,0,0,0.1);
}

.budget-progress-fill {
    height: 100%;
    background-color: #ff69b4;
    transition: width 0.3s ease-in-out;
}

.amount-input {
    display: flex;
    justify-content: row;
    gap: 20px;
    width: 100%
}

.category-input {
    display: flex;
    justify-content: row;
    gap: 20px;
}

.budget-input {
    display: flex;
    justify-content: row;
    gap: 20px;
}

.edit-btns {
    display: flex;
    justify-content: space-between;
}

.save-cancel {
    display: flex;
    justify-content: space-between;
    gap: 5px;
}

.cancel-btn {
    color: rgb(116, 116, 116);
    background: none;
    border-style: solid;
    border-width: 2px;
    border-color:rgb(255, 189, 234);
}

/* .cancel-btn:hover {
    
} */

@media (min-width: 600px) {
    .budget-container {
        display: block;
    }
}

.table-container {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    width: 100%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
}

.category-row td {
    font-weight: bold;
    background-color: rgb(255, 189, 234);
    text-align: left;
    padding: 10px;
}

.entry-table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    font-size: 16px;
    text-align: left;
    color: black;
}

.entry-table th {
    border: 1px solid black;
    padding: 8px;
    background-color: white;
}
.entry-table td {
    border: 1px solid black;
    padding: 8px;
}

.entry-title {
    font-weight: bold; /* Make the title stand out */
    display: block; /* Ensure it stays on its own line */
}

.entry-description {
    font-size: 0.9em; /* Slightly smaller font for the description */
    color: #555; /* Different color for contrast */
    display: block; /* Ensure it stays on its own line */
    margin-top: 5px; /* Add spacing below the title */
}

.entry-table tr:hover {
    background-color: rgb(255, 233, 245);
}

.entry-item.selected {
    background-color: rgb(255, 233, 245);
}

.x-btn {
    background: none;
    outline: transparent;
}

.x-btn:hover {
    outline: transparent;
    color: rgb(117, 117, 117);
}