.notes-page-container {
    background-color: rgb(255, 200, 229);
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    text-align: center;
    grid-template-columns: 1fr;
    
}

.add-btn {
    display: flex;
    justify-content: flex-end;
}

.notes-content {
    display: flex;
    flex-direction: column;
    margin: 100px 0px;
    width: 100%;
    max-width: 1200px;
    box-sizing: border-box;
    padding: 20px;
}

.notes-form {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px 0px;
}

.notes-form input {
    font-size: 16px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    height: 45px;
    width: 100%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
}

.notes-form textarea {
    font-size: 16px;
    padding: 10px 20px;
    width: 100%;
    border-radius: 5px;
    box-sizing: border-box;
}

.notes-form select {
    padding-left: 20px;
    border: none;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    outline: none;
}

.category-input {
    display: flex;
    justify-content: row;
    gap: 20px;
}

@media (min-width: 600px) {
    .notes-container {
        display: block;
    }
}

.notes-category {
    text-align: left;
    margin-bottom: 20px;
}

.notes-category h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
    color: #333;
}

.notes-grid {
    display: grid;
    grid-template-columns: repeat(
        auto-fill,
        minmax(250px, 1fr)
    );
    grid-auto-rows: minmax(250px, auto);
    gap: 20px;
    width: 100%;
}

.note-item {
    display: flex;
    flex-direction: column;
    border: 1px solid #ccc;
    padding: 15px;
    border-radius: 5px;
    background-color: #f9f9f9;
    box-shadow: 0px 0px 10px
        rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.note-item.selected {
    transform: translateY(-5px);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    transition: 0.3s ease;
}

.notes-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}