.calendar-container {
    width:95%;
    max-width: 1200px;
    margin-top: 20px;
    background-color: #fff5f7;
    padding: 1.5rem;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
}

.react-calendar__navigation {
    display: flex;


    .react-calendar__navigation__label {
      font-weight: bold;
    }


    .react-calendar__navigation__arrow {
      flex-grow: 0.333;
    }
  }

.fc-header-toolbar {
  margin-bottom: 1rem;
  /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
}

.fc-toolbar-title {
  color: black;
  font-weight: 600;
}

.fc-button {
    background-color: rgb(255, 189, 234) !important;
    border: none !important;
    color: black !important;
    padding: 0.5rem 1rem !important;
    text-transform: capitalize !important;
    box-shadow: none !important;
    transition: all 0.2s ease;
}
/* .fc-button:active {
  background-color: rgb(255, 47, 157)!important;
} */

.fc-button:hover {
  background: none !important;
}

/* .fc-button:active {
  background-color: #d23669 !important;
} */

/* .fc-daygrid-day {
  border: 1px solid #ffe5e9 !important;
} */

/* .fc-daygrid-day.fc-day-today {
  background-color: #ffebee !important;
}
 */

.fc-event {
  /* background-color: #d7d7d7 !important; */
  border: none !important;
  border-radius: 4px;
  padding: 2px 4px;
  font-size: 0.9rem;
}

.fc-event *,
.fc-event .fc-event-title,
.fc-event .fc-event-time,
.fc-event .fc-event-title-container {
    color: rgb(66, 66, 66) !important;
}

.fc-event:hover {
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.fc-col-header-cell {
  background-color: #ffe0f3 !important;
  padding: 0.5rem 0;
  border: none !important;
}

/* .fc-timegrid-slot {
  border-color: #ffebf4 !important;
} */

.fc-timegrid-axis {
  background-color: #ffe0f3;
  color: rgb(255, 47, 157);
}

.fc-timegrid-slot-label {
  color: rgb(106, 106, 106) !important;
  font-size: 0.8em;
  padding: 2px 4px !important;
}
 
.fc-day-sat, .fc-day-sun {
  background-color: #fff0f6;
}

.fc-scroller::-webkit-scrollbar {
  width: 8px;
}

.fc-scroller::-webkit-scrollbar-track {
  background: #ffe0f3;
}

.fc-scroller::-webkit-scrollbar-thumb {
  background-color: rgb(255, 137, 200);
  border-radius: 4px;
}
